body{
    margin: 0; font-family: 'Segoe UI', sans-serif;
    background-color: #faf2f8; color: #333;
}
.menu-principal{
    background-color: #491e72; padding: 15px 0;
    position: sticky; top: 0; left: 0; z-index: 1000px;/*Sticky deixa sempre na parte superior*/
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}   
.menu-conteiner{
    max-width: 1000px; margin: 0 auto/*Foco centralizar*/;display: flex;
    justify-content: space-between; align-items: center; 
    padding: 0 20px     ;
}
.logo{
    color: white; text-decoration: none; font-weight: bold;
    font-size: 1.2rem; text-transform: uppercase;
}
.lista{
    list-style: none; display: flex; gap: 20px;
    margin: 0; padding: 0;
}
.lista li{
    color: #cbbcf7;
}
.lista a{
    text-decoration: none; color: #cbbcf7; font-size: 0.9rem;
    font-weight: 500; transition: color 0.3s;
}
.lista a:hover{
    color: #ffff;
}
.cabecalho{
    background-color: #773f91;
    color: white;
    padding: 60px 20px;
    text-align: center;
}

.cabecalho-container h1{
    font-size: 2.5rem; margin-bottom: 5px;

}
.cabecalho-container h2{
    font-weight: 300;
    font-style: italic; color: #ffd700;
}
.principal{
    max-width: 900px;
    margin: -40px auto 40px;
    padding: 20px;
}
.secao{
    background: white;
    margin-bottom: 20px;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: left
}
.lista1{
    text-align: left;
    list-style: none;
    font-size:small;
}
.secao2{ 
    background: white;
    margin-bottom: 20px;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: left
}
.secao3{
    background: rgb(255, 255, 255);
    margin-bottom: 20px;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: left;
    display: flex;
}
.separacao{
    background: #ffecff;
    padding: 1%;
    border-radius: 10px;
    flex: 1;    
    border-radius: 10px;
    border-left: 5px solid #7a2e7d;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.separacao2{
    background: #d9e3f2;
    padding: 20px;
    border-radius: 10px;
    flex: 1;    
    border-radius: 10px;
    border-left: 5px solid #762e7d;
    margin-bottom: 15px;
    display: flex;
    list-style: none;
}
.valores{
    background: white;
    margin-bottom: 20px;
    padding:35px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: left;
}
.valores h3{
    margin-bottom: 15px;   
}
.secao4{
    background: rgb(255, 255, 255);
    margin-bottom: 20px;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: left
}
.lista4{
    list-style: none;
    padding: 0;
    margin: 15px 0;
}
.lista4 li{
    background-color: #ffb5f9;
    margin-bottom: 8px;     
    padding: 8px 12px;    
    border-radius: 6px;
    font-weight: 500; 
    color: #ff0095;
}

.tabela{
   width: 100%;
   border-collapse: collapse; /* junta as bordas adjacentes, ficando uma só */
   margin-top: 20px;
   background-color: white; 
}
tr:hover{
    background-color: #ff000000;
}
th, td { 
    border-bottom:1px solid #ddd;
    padding: 15px;
    text-align: left;
}
th { 
    background-color: #773f91;
    color: white;
    text-transform: uppercase; /* dxa tudo maiusculo*/
    font-size: 0.85rem;
}
.amarela{
    width: 25px; 
    height: 25px;
    background-color: yellow;
}
.cinza{
    width: 25px; 
    height: 25px;
    background-color: grey;
}
.laranja{
    width: 25px; 
    height: 25px;
    background-color: orange;
}
.vermelho{
    width: 25px; 
    height: 25px;
    background-color: red;
}
.preto{
    width: 25px; 
    height: 25px;
    background-color: black;
}
.rosa{
    width: 25px; 
    height: 25px;
    background-color: pink;
}
.roxa{
    width: 25px; 
    height: 25px;
    background-color: purple;
}
.verde{
    width: 25px; 
    height: 25px;
    background-color: green;
}
.vermelho{
    width: 25px; 
    height: 25px;
    background-color: red;
}
.kit{
  border: 3px dashed rgb(255, 0, 0);
  border-radius: 15px;
  padding: 20px;
  background-color: rgb(255, 194, 194);
  color: #ba4a3b;
}
.pontos{
    background: rgb(255, 255, 255);
    margin-bottom: 20px;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: left
}
.tabela-pontos{
   width: 100%;
   border-collapse: collapse; /* junta as bordas adjacentes, ficando uma só */
   margin-top: 20px;
   background-color: white; 
}
.tabela-pontos th, td { 
    border-bottom:1px solid #ddd;
    padding: 15px;
    text-align: left;
}
.tabela-pontos th { 
    background-color: #773f91;
    color: white;
    text-transform: uppercase; /* dxa tudo maiusculo*/
    font-size: 0.85rem;
}
.suplemento{
    background: white;
    margin-bottom: 20px;
    padding: 0px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: left
}
.suple{
    background: #f2d9f0;
    padding: 10px;
    border-radius: 12px;
    flex: 1;    
    border-radius: 10px;
    border-left: 5px solid #f700ff;   
}
.campanha{
    background: white;
    margin-bottom: 20px;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: left
}
.letra{
    color: orange;
}
.sangue{
    background: white;
    margin-bottom: 20px;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: left   
}
.memorias{
    background: white;
    margin-bottom: 20px;
    padding: 0px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: left    
}
.memo{
    background: rgb(250, 250, 236);
    padding: 10px;
    border-radius: 12px;
    flex: 1;    
    border-radius: 10px;
    border-left: 5px solid yellow;   
    background: #fcffab;     
}
.acao-social{
    background: white;
    margin-bottom: 20px;
    padding: 0px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: left;
    background-color: #f9ff4d;        
}
.acao{
    background: rgb(250, 250, 236);
    padding: 10px;
    border-radius: 12px;
    flex: 1;    
    border-radius: 10px;
    border-left: 5px solid yellow;  
    background: #fcffab;        
}
.prova-album{
    background: white;
    margin-bottom: 20px;
    padding: 0px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: left;      
}
.album{
    background: rgb(250, 250, 236);
    padding: 10px;
    border-radius: 12px;
    flex: 1;    
    border-radius: 10px;
    border-left: 5px solid yellow;     
    background: #fcffab;  
}
footer{
   background-color: #491e72;
   color: white;
   padding: 30px 20px;
   text-align: center;
   border-top: 5px solid #e0c2ff; 
   margin-top: 50px;
   font-size: 0.85rem;
}
footer a{
    color: white;
}
.timeline{
    border-left: 3px solid #2a5298;
    padding-left: 20px;
    margin-top: 20px;
}
.evento{
    margin-bottom: 20px;
    position: relative; /*Poder de flutuar na página, sem alterar posição de outros elementos */   
}
.evento::before{ /*Pseudoelemento - inserer conteudo decorativo/informativo*/
    content: '';/*Sem texto*/
    width: 12px;
    height: 12px;
    background-color: #ff4b2b;
    border-radius: 50%;
    position: absolute;
    left: -27px;
    top: 5px;
}
.grid-locais{
    display: flex;
    gap: 20px;
}
.local{
    flex: 1;/*ocupar toda area*/
    background: #f8f9fa;
    padding: 15px;
    border-radius: 8px;
    border:  1px solid #dee2e6;
}
.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}
input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100px;
}
  button {
    background-color: #27ae60;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
.resultado {
    margin-top: 20px;
    padding: 15px;
    background-color: #eef5ff;
    border-left: 5px solid #1e3c72;
    font-weight: bold;
    font-size: 1.2rem;
}
input, select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100px;
}

button {
    background-color: #27ae60;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.resultado {
    margin-top: 20px;
    padding: 15px;
    background-color: #eef5ff;
    border-left: 5px solid #1e3c72;
    font-weight: bold;
    font-size: 1.2rem;
}
.lista-Inter{
    margin-left: 50px;
    list-style: none;
    font-weight: bold;
    color: red;
}
.lista-homenagem{
    margin-left: 50px;
    list-style: none;
    color: red;
    padding: 10px 10px; 
}
.medalhas{
    background: #ffecec;
    padding: 1%;
    border-radius: 10px;
    flex: 1;    
    border-radius: 10px;
    border-left: 5px solid #ff0000;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.caixa-importante{
    background: #ffecff;
    padding: 1%;
    border-radius: 10px;
    flex: 1;    
    border-radius: 10px;
    border-left: 5px solid #7a2e7d;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    margin-top: 15px;
}
.coluna{
    flex: 1;
}
.resumo-provas, li{
    list-style: none;
}
.tabela1{
    width: 100%;
   border-collapse: collapse; /* junta as bordas adjacentes, ficando uma só */
   margin-top: 20px;
   background-color: white; 
}
.tabela1 td {
    vertical-align: top; /* Garante que as listas comecem no topo da linha */
    padding: 15px;       /* Dá respiro ao conteúdo */
}

.tabela1 li {
    margin-bottom: 8px;  /* Cria o espaçamento entre cada linha de item */
    display: block;      /* Garante que cada item ocupe sua própria linha */
}
.lista-provas li{
    padding-bottom: 8px;
    margin-bottom: 8px;
    /* Troque o #eee pela cor desejada (ex: purple, #7b2cbf, ou rgb) */
    border-bottom: 1px solid #7b2cbf;
}
